.textStyle{
    font-size:.14rem;
    padding-top:.05rem;
    color:#666;
}
.img{
    width:.5rem;
    height:.5rem;
    border-radius:50%;
}
.infoFooter{
    padding:.07rem 0 .1rem;
    color:#666;
    border-top:1px solid #eee;
    border-bottom: 1px solid #eee;
}
.titleStyle{
    color: #000;
    font-size: 17px;
}
.noDataStyle{
    text-align: center;
    font-size: .14rem;
    color:#666;
    line-height: .5rem;
}
.btn{
    color:#333;
    font-size: .17rem;
    float: right;
}
.card-bottom{
    margin-bottom:.08rem;
}