.navbar{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.filter{
    flex:1;
    ul{
        width:35%;
        height:100%;
        &:first-child{
            width:30%;
            background: #f2f2f2;
        }
        li{
            text-align: center;
            height:.4rem;
            line-height: .4rem;
            font-size: .16rem;
        }
    }  
}
.footer{
    background: #fff;
    height:.7rem;
    border-top:1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &>a{
        color:#555;
        letter-spacing: 0;
        &:first-child{
            width:35%;
            background: #f2f2f2;
        }
        &:last-child{
            width:50%;
            color:#fff;
        }
    }
}