.sectionBox{
    height: 100%;
    display:flex;
    flex-direction: column;
}
.section{
    flex:1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    padding:.1rem;
    h4{
        font-size: .2rem;
        font-size: .16rem;
        color:#333;
        line-height: .4rem;
        span{
            font-size: .14rem;
            color:#555;
            font-weight: 400;
            padding-left: 5px;
        }
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            width:30%;
            height:.35rem;
            line-height: .35rem;
            margin:4px 1.5%;
            text-align: center;
            border-radius: .03rem;
            background: #f2f2f2;
            font-size: .14rem;
            box-sizing: border-box;
            border:1px solid #fff;
        }
    }
}
.activeli{
    color:#108ee9;
    border:1px solid #108ee9!important;   
    background: rgb(123, 185, 230);
}
.footer{
    background: #fff;
    height:.7rem;
    border-top:1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &>a{
        color:#555;
        letter-spacing: 0;
        &:first-child{
            width:35%;
            background: #f2f2f2;
        }
        &:last-child{
            width:50%;
            color:#fff;
        }
    }
}