.my-node-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  .my-node-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms,transform 300ms;
  }
  .my-node-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .my-node-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 200ms,transform 300ms;
  }